.bandera {
	height: 25px;
	width: 40px;
	padding-right: 5px;
}

.btn-rosa {
	color: #fff;
    background: #e04f67;
}
#hero_1 {
    position: relative;
    height: 470px;
    background: #4d536d url(../img/slide_hero_1.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    width: 100%;
    font-size: 16px;
    display: table;
    text-align: center;
    z-index: 1;
}

#hero_1 .intro_title h1 {
    font-size: 38px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

#hero_3 {
    position: relative;
    height: 470px;
    background: #4d536d url(../img/slide_hero_3.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    width: 100%;
    font-size: 16px;
    display: table;
    text-align: center;
    z-index: 1;
}

#hero_3 .intro_title h1 {
    font-size: 38px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.parallax-content-1 {
    display: table;
    width: 100%;
    height: 270px;
    background: rgba(0, 0, 0, 0.6);
}

.parallax-window {
    min-height: 260px;
    background: transparent;
    position: relative;
}

